@import "libs.sass"
@import "smart-grid.sass"
@import "vars.sass"


+reset()


.wrapper
	+wrapper()

+font-face("../fonts/", $base-font)

html
	font-size: 15px

body
	font-family: $base-font

header

	.menu
		background-color: #f66262
		height: 11 * $size
		color: #fff

		.wrapper
			+row-flex()

			.logo
				+col()
				+col-10()
				+row-flex()

				h1
					font-size: 2.3rem
					text-shadow: 0 1px 1px #c34b2a;
					letter-spacing: 4px

				span
					font-size: 17px
