@import "libs.sass"
@import "smart-grid.sass"
@import "vars.sass"


+reset()


.wrapper
	+wrapper()

+font-face("../fonts/", $base-font)

html
	font-size: 15px

body
	font-family: $base-font

header
	.menu
		background-color: $menu-bg-color
		color: #fff

		.wrapper 
			display: flex
			align-items: center
			height: 11 * $size

			.logo
				+col()
				+col-10()

				.img_logo 
					display: flex
					margin-bottom: 6px

					h1
						align-self: flex-end
						font-size: 2.2rem
						letter-spacing: 3px
						text-shadow: 0 1px 1px #c34b2a
						margin: 0 0 -6px 8px

				span
					font-size: 1.19rem

			.top-nav
				+col()
				+col-14()

				ul
					display: flex
					+justify-content(space-between)

					li
						a:link, a:visited
							text-decoration: none
							color: #fff
							font-family: Arial
							font-weight: bold
							display: block
							padding: 7px 10px
						a:hover, a.active
							background-color: $menu-hover-color
							border-radius: 3px
							transition: .3s


