@import "libs.sass"
@import "smart-grid.sass"
@import "vars.sass"


+reset()
//.grid_debug
	//+debug(rgba(0, 0, 0, 0.5), 1px solid green)

.wrapper
	+wrapper()

+font-face("../fonts/", $base-font)
+font-face("../fonts/", $price-font)

html
	font-size: 15px

body
	font-family: $base-font

header
	.menu
		background-color: $menu-bg-color
		color: #fff
		position: relative

		.wrapper 
			display: flex
			align-items: center
			height: 11 * $size

			.logo
				+col()
				+col-10()
				+col-sm-6()
				min-width: 150px

				.img_logo 
					+row-flex()
					margin-bottom: 6px

					h2
						align-self: flex-end
						font-size: 2.2rem
						letter-spacing: 3px
						text-shadow: 0 1px 1px #c34b2a
						margin: 0 0 -6px 8px
						+sm(font-size, 2rem)

				span
					font-size: 1.19rem
					margin-left: -5px
					+sm(font-size, 1.1rem)

			.top-nav
				+col()
				+col-14()
				+col-sm-18()
				+xs-block()
					+row-flex()
					justify-content: flex-end

				.menuToggle
					display: none
					+xs-block()
						display: block
						position: relative
						cursor: pointer

				ul.menu-top
					+row-flex()
					+justify-content(space-between)
					+sm(justify-content, space-around)
					+xs-block()
						display: none
						position: absolute
						top: 80px
						background-color: $top-header-bg-color
						width: 50%
						z-index: 100

					&:after
						content: ""
						display: block
						border-color: $up-triangle-color $up-triangle-color $down-triangle-color $down-triangle-color
						border-style: solid
						border-width: 22px 22px 22px 22px
						height: 0px
						width: 0px
						position: absolute
						top: 0
						right: 0
						+xs(display, none)

					&:before
						content: ""
						display: block
						height: 0
						width: 0
						position: absolute
						top: 22px
						right: -5px
						border-color: transparent #000
						opacity: 0.2
						border-style: solid
						border-width: 30px 30px 30px 0px
						transform: rotate(135deg)
						+xs(display, none)

					li
						+xs(margin-bottom, 10px)
						text-align: center

						a:link, a:visited
							text-decoration: none
							color: #fff
							font-family: Arial
							font-weight: bold
							display: block
							padding: 7px 10px
							+sm-block()
								padding: 5px 7px
								font-size: 0.8rem
								margin-right: 3px
							+xs(font-size, 1.3rem)

						a:hover, a.active
							background-color: $menu-hover-color
							border-radius: 3px
							transition: .3s

	section.top-header
		box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05)
		background-color: $top-header-bg-color
		text-align: center
		color: #fff
		padding-bottom: 5 * $size

		h1
			font-size: 4rem
			font-weight: bold
			letter-spacing: 5px
			padding-top: 3 * $size
			+sm(font-size, 3rem)

		span
			padding: 1.5 * $size
			display: block
			font-weight: bold
			letter-spacing: 2px

		.owl-carousel
			margin-top: $size
			position: relative

			img
				max-width: 70%
				margin: 0 auto

			.owl-nav
				.owl-prev
					position: absolute
					top: 45%

				.owl-next
					position: absolute
					right: 0
					top: 45%

			.owl-dots
				display: none

.design
	background-color: $design-bg-color
	text-align: center
	padding: 4 * $size 0 3 * $size 0

	&-title
		font-size: 2.5rem
		font-weight: bold
		color: #fff
		letter-spacing: $size
		+xs(font-size, 2.2rem)

	&-subtitle
		color: $design-red-color
		padding: $size
		font-size: 1.3rem
		letter-spacing: 3px

	&-items
		+row-flex()
		justify-content: space-around

		&-item
			+col()
			+col-7()
			color: white
			+col-sm-10()
			+col-xs-20()

			.img
				margin-top: 3 * $size

			.title
				font-size: 2rem
				font-weight: 400
				padding: 1.5 * $size 0 1.5 * $size 0 

			.subtitle
				font-size: 1.2rem
				color: $design-red-color


.human
	background-color: $human-bg-color
	text-align: center

	&-title
		font-size: 2.5rem
		font-weight: bold
		color: #fff
		letter-spacing: 10px
		padding-top: 4 * $size
		+xs(font-size, 2rem)
		+xxs(letter-spacing, 5px)

	&-subtitle
		color: $human-darkgreen-color
		font-size: 1.2rem
		font-weight: bold
		letter-spacing: 2px
		padding: 2 * $size

	&-items
		+row-flex()
		justify-content: center


		&-item
			+row-flex()
			flex-direction: column
			justify-content: center
			background-color: #fff
			border-radius: 5px
			margin-bottom: 1rem
			+col()
			+col-6()
			+col-sm-11()
			+col-xxs-20()


			.img
				margin: 10px auto
				margin-top: 20px
				background-color: $human-bg-color
				border-radius: 50%
				box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 1px 1px rgba(0, 0, 0, 0.4)
				
				img
					padding: 9px 8px 3px 8px

			.name
				font-size: 1.5rem
				font-weight: bold
				text-shadow: 0 1px 1px #ffffff, 0 0 35px rgba(243, 255, 251, 0.15)
				color: #61af66
				padding-top: 10px

			.description
				flex-grow: 1
				font-size: 1.2rem
				font-weight: bold
				text-shadow: 0 1px 1px #ffffff, 0 0 35px rgba(243, 255, 251, 0.15)
				color: #e74c3c
				padding: 10px 0 10px 0

			.btn
				+row-flex()
				text-decoration: none
				background-color: $human-bg-color
				margin: 10px auto
				color: #fff
				width: 80%
				padding: 0.5rem
				border-radius: 3px


				.fa-twitter
					font-size: 2.3rem

				span
					font-size: 1.8rem
					letter-spacing: 3px
					margin: 0 auto

.appl
	background-color: rgba(236, 236, 236, 0.8)
	text-align: center

	&-title
		font-size: 2.7rem
		font-weight: bold
		color: #616161
		letter-spacing: 9px
		padding-top: 3 * $size
		+xs(font-size, 2rem)
		+xxs(letter-spacing, 5px)

	&-subtitle
		color: #61af66
		font-size: 20px
		font-weight: 400
		letter-spacing: 1px
		padding: 1 * $size

	&-slider
		margin-top: 20px
		+row-flex()
		padding-bottom: 170px

		.owl-nav
			.owl-prev
				position: absolute
				top: 25%
				left: 5%
				font-size: 4rem
				opacity: 0.3
				width: 30px
				height: 30px
				line-height: 30px

			.owl-next
				position: absolute
				right: 5%
				top: 25%
				font-size: 4rem
				opacity: 0.3
				width: 30px
				height: 30px
				line-height: 30px


		.item
			+col()

			.title
				color: #232324
				font-weight: bold
				font-size: 21px
				padding: 20px 0

.orders
	text-align: center
	margin-top: -130px

	.container
		+row-flex()
		justify-content: space-between
		align-items: flex-end
	
		.order._mod
			.title
				color: #eb4f4e
			.subtitle
				color: #232324

			.order-price
				background-color: #eb4f4e

				.order-btn
					color: #eb4f4e

					a:hover
						background-color: #616161

		.order
			background-color: #fff
			border-radius: 4px
			+col()
			+col-8()


			.title
				font-size: 40px
				letter-spacing: 3px
				padding: 10px 0
				+sm(font-size, 32px)

			.subtitle
				font-size: 20px
				color: #eb4f4e
				font-weight: bold
				letter-spacing: 2px
				padding-bottom: 20px

			.order-menu
				background-color: #f0f0f0
				font-size: 18px

				li:not(:last-child)
					border-bottom: none

				li
					border: 1px solid silver
					

					a:link, a:visited
						text-decoration: none
						padding: 10px
						display: block
						color: #616161

					a:hover
						background-color: #616161
						color: #fff

			.order-price
				background-color: #616161
				display: flex
				align-items: center
				justify-content: space-between

				.price
					font-family: $price-font
					color: #fff
					display: flex
					align-items: center

					.valute
						font-size: 32px
						font-weight: bold
						margin-left: 7px

					.num
						font-size: 64px
						font-weight: bold
						padding: 0 10px

					.month
						font-size: 25px
						align-self: flex-end
						margin-bottom: 10px

				.order-btn
					margin-right: 7px

					a:link, a:visited
						text-decoration: none
						display: block
						color: #616161;
						background-color: #fff
						font-size: 21px
						text-shadow: 0 0 1px rgba(0, 0, 0, 0.06)
						font-weight: bold
						letter-spacing: 1px
						padding: 7px
						border-radius: 2px

					a:hover
						background-color: #eb4f4e
						color: #fff












.height
	height: 500px