body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 960px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@font-face {
  src: url("../fonts/Bariol-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bariol-Regular.woff") format("woff"), url("../fonts/Bariol-Regular.ttf") format("truetype"), url("../fonts/Bariol-Regular.svg#Bariol-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-family: Bariol-Regular;
}

html {
  font-size: 15px;
}

body {
  font-family: Bariol-Regular;
}

header .menu {
  background-color: #f66262;
  color: #fff;
  position: relative;
}

header .menu .wrapper {
  display: flex;
  align-items: center;
  height: 110px;
}

header .menu .wrapper .logo {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(41.66666666666667% - 10px);
}

header .menu .wrapper .logo .img_logo {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 6px;
}

header .menu .wrapper .logo .img_logo h2 {
  align-self: flex-end;
  font-size: 2.2rem;
  letter-spacing: 3px;
  text-shadow: 0 1px 1px #c34b2a;
  margin: 0 0 -6px 8px;
}

header .menu .wrapper .logo span {
  font-size: 1.19rem;
  margin-left: -5px;
}

header .menu .wrapper .top-nav {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(58.333333333333336% - 10px);
}

header .menu .wrapper .top-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  justify-content: space-between;
}

header .menu .wrapper .top-nav ul:after {
  content: "";
  display: block;
  border-color: transparent #ff8c8c;
  border-style: solid;
  border-width: 32px 32px 32px 0px;
  height: 0px;
  width: 0px;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  right: 16px;
}

header .menu .wrapper .top-nav ul:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: 22px;
  right: -5px;
  border-color: transparent #000;
  opacity: 0.2;
  border-style: solid;
  border-width: 30px 30px 30px 0px;
  transform: rotate(135deg);
}

header .menu .wrapper .top-nav ul li a:link,
header .menu .wrapper .top-nav ul li a:visited {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  display: block;
  padding: 7px 10px;
}

header .menu .wrapper .top-nav ul li a:hover,
header .menu .wrapper .top-nav ul li a.active {
  background-color: #232324;
  border-radius: 3px;
  transition: .3s;
}

header section.top-header {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  background-color: #eb4f4e;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
}

header section.top-header h1 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 5px;
  padding-top: 30px;
}

header section.top-header span {
  padding: 15px;
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
}

header section.top-header .owl-carousel {
  margin-top: 10px;
  position: relative;
}

header section.top-header .owl-carousel img {
  max-width: 70%;
  margin: 0 auto;
}

header section.top-header .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
}

header section.top-header .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 45%;
}

header section.top-header .owl-carousel .owl-dots {
  display: none;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}